.menu-area {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: none;
    background: transparent;
}
.menu-area .navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.menu-area .navbar{
    background: #FFFFFF;
    border-radius: 30px;
    margin: 10px;
    padding: 0 20px;
    width: 1000px;
    max-width: 100%;
}
.search-box .input-group-append{
    margin-left: 0;
}
